@(lastname: String, expense: Expense, baseUrl: String, comment: Comment)
@import java.util.Calendar
@import java.util.Date
@import utils.Time



<!DOCTYPE html>
<html>
    <head>
        <title>New comment from @lastname</title>
        <link rel="stylesheet" media="screen" href="@baseUrl@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@baseUrl@routes.Assets.at("images/favicon.png")">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="@baseUrl@routes.Assets.at("stylesheets/bootstrap.css")" media="all" rel="stylesheet" type="text/css" />
        <link href="@baseUrl@routes.Assets.at("stylesheets/main.css")" media="all" rel="stylesheet" type="text/css" />
        <link href="@baseUrl@routes.Assets.at("stylesheets/datepicker.css")" media="screen" rel="stylesheet" title="Theme" type="text/css" />
        <link href="@baseUrl@routes.Assets.at("stylesheets/jquery.cssemoticons.css")" type="text/css" rel="stylesheet" />
    </head>

    <body>
    <div id="Wrapper">
        <div id="Container">
            <div style="width:98%" class="left">
                <div class="col">
                    <div class="chat-wrapper">

                        <h3><img class="img-thumbnail" src="http://www.gravatar.com/avatar/@Time.md5(expense.email)?d=mm&s=80"></h3>
                        <h4 style="font-variant: small-caps"><a href="@baseUrl@routes.Application.review(expense.id.get.stringify)">Expenses from @expense.author </a></h4><br><br>
          
                        <h4 class="timeline"><span id="start">@Time.ordinal(expense.startDate) @expense.startDate.toString("MMM. yyyy") </span>- <span id="end">@Time.ordinal(expense.endDate) @expense.endDate.toString("MMM. yyyy") </span></h4>
                            
                        <div style="margin: 50px 0 20px">
                            <h3><a href="@baseUrl@routes.Application.review(expense.id.get.stringify)">@expense.reference</a></h3>
                        </div>
                        
                         <div class="comment comment-panel">
                           <div class="last-comment commentbody">
                              <div class="comment-heading">
                                <img src="http://www.gravatar.com/avatar/@Time.md5(comment.email)?d=mm&amp;s=36" /> <span>@comment.author</span><small style="position:relative;  padding-left: 10px;font-weight:normal">- @Time.timeAgo(comment.date)</small></div>
                                  <div class="comment-body">
                                   @comment.content
                                  </div>
                              <div class="action" style="font-size: 11px; margin-right:20px; text-align: right"><a href="@baseUrl@routes.Application.review(expense.id.get.stringify)">Reply</a></div>
                    
                        </div>

                        <div id="corner_logo">

                            <div style="font-size:x-small;color: #BBB; font-family: Arial; text-shadow: 0px 1px 0px white;">Brought to you by </div>
                            <img src="@baseUrl@routes.Assets.at("images/logo-lunatech-transparent.png")"/>
                        </div>
          
                    </div>
                </div>
            </div>
        </div>
    </div>       
    </body>
</html>
