@(username: String, expenses: Seq[Expense], year: Int)(implicit flash: play.api.mvc.Flash)

@import utils._
@main("") {
@menu(username, "expenses")

  
 <div id="Wrapper">
    <div id="Container">
	    <div class="left">
	        <div class="col">
	            <div class="chat-wrapper">
	            	<h3>Expenses @year</h3>
	            	 @flash.get("success").map { message =>
                        <div class="alert alert-info">
                             @message
                        </div>
                    }

                    @flash.get("error").map { message =>
                        <div class="alert alert-error">
                             @message
                        </div>
                    }
	            	<div>
	            		<ul class="pagination">
						  <li><a href="@routes.Application.expensesIndex(year+1)"><i class="fa fa-chevron-left"></i></a></li>
						  <li><a href="">@year</a></li>
						  <li><a href="@routes.Application.expensesIndex(year-1)"><i class="fa fa-chevron-right"></i></a></li>
						</ul>
	            	</div>
		              <table class="table table-hover">
				        <thead>
				          <tr>
				            <th>#</th>
				            <th>Period</th>
				            <th>Reference</th>
				            <th class="right">Amount (BTW incl.)</th>
				            <th>Status</th>
				          </tr>
				        </thead>
				        <tbody>

				         @expenses.zipWithIndex.map { case (expense, index) =>
 						   <tr>
				            <td class="number">@(index+1)</td>
				            <td><a href="@routes.Application.expensesShow(expense.id.get.stringify)">@Time.ordinal(expense.startDate) @expense.startDate.toString("MMM. yyyy") - @Time.ordinal(expense.endDate) @expense.endDate.toString("MMM. yyyy")</a></td>
				            <td><a href="@routes.Application.expensesShow(expense.id.get.stringify)">@expense.reference</a></td>
				            <td class="right"><a href="@routes.Application.expensesShow(expense.id.get.stringify)">@expense.totalAmount €</a></td>
				            <td>@(expense.status match { 
				            	case "draft" => <span class="label label-default">draft</span>
	            				case "submitted" => <span class="label label-info">submitted</span>
	            				case "approved" => <span class="label label-success">approved</span>
	            				case "rejected" => <span class="label label-warning">rejected</span>
	            				case _ => <span class="label label-warning">?</span>
	            			})</span></td>
				          </tr>
				         }
  
				        </tbody>
				      </table>
	            </div>
	        </div>
	    </div>
	    <div class="sidebar" >
	    	<div class="button"><a href="@routes.Application.expensesNewForm()" class="btn btn-primary" role="button">New expenses</a></div>
    		<div>
              <h3><a href="">Related actions</a></h3>
              <ul class="related-actions">
            	<li><i class="fa fa-download"></i> <a data-toggle="modal" data-target="#myModal">Import expenses</a></li>
            	<li><i class="fa fa-upload"></i> <a data-toggle="modal" data-target="#myModal">Export expenses</a></li>
              </ul>
            </div>
        </div>

         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Not yet implemented</h4>
		      </div>
		      <div class="modal-body">
		        <p>Fee free to contribute to the project ;)</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<script>
		$("div.modal-body").emoticonize();
		</script>
               
	</div>
</div>

}
