@(username: String, lastname: String, startDate: org.joda.time.DateTime, endDate: org.joda.time.DateTime, expense: Form[Expense], items: Seq[Item], comments: Seq[Comment])(implicit flash: play.api.mvc.Flash)
@import utils._
@import org.joda.time.DateTime
@main("") {
@menu(username, "expenses")
  
 <div id="Wrapper">
    <div id="Container">
	    <div class="left">
	        <div class="col">
	            <div class="chat-wrapper">

	            <div class="pull-right"><h3>@(expense("status").value.getOrElse("") match { 
	            	case "draft" => <span class="label label-default">draft</span>
	            	case _ => <span class="label label-warning">?</span>
	            })</h3></div>
		           
	            	<h3 style="font-variant: small-caps">Create a new expense form</h3>

	            	 @flash.get("success").map { message =>
                        <div class="alert alert-info">
                             @message
                        </div>
                    }

                    @flash.get("error").map { message =>
                        <div class="alert alert-error">
                             @message
                        </div>
                    }

	            	<form id="edit" action="@routes.Application.expensesNew()" method="POST">

						<input type="hidden" value="@expense("id").value" name="id"/>
	            		<input id="startDate" type="hidden" value="@expense("startDate").value" name="startDate"/>
	            		<input id="endDate" type="hidden" value="@expense("endDate").value" name="endDate"/>
	            		<input type="hidden" value="@expense("author").value" name="author"/>
	            		<input type="hidden" value="@expense("status").value" name="status"/>
	            	
	            		<h4 class="timeline"><span id="start">@Time.ordinal(startDate) @startDate.toString("MMM. yyyy") </span>@if(expense("status").value.getOrElse("") == "draft") { <span id="editStart" class="edit"><a >edit</a></span>}- <span id="end">@Time.ordinal(endDate) @endDate.toString("MMM. yyyy") </span>@if(expense("status").value.getOrElse("") == "draft") { <span id="editEnd" class="edit"><a >edit</a></span>}</h4>
		            	<div style="margin: 50px 0 20px">
		            		@if(expense("status").value.getOrElse("")=="draft"){
		            		<input class="form-control" placeholder="Optional: reference" name="reference" value="@expense("reference").value"><span class="error">@expense.error("reference").map(x => Messages(x.message))</span>
		            		} else {
		            			<h3>@expense("reference").value</h3>
		            		}
		            	</div>
		            	   <table class="table edit">
					        <thead>
					          <tr>
					            <th>#</th>
					            <th>Date</th>
					            <th>Item</th>
					            <th class="right">Amount (BTW incl.)</th>
					            <th>Notes</th>
					            <th></th>
					          </tr>
					        </thead>
					        <tbody id="items">
					          @items.zipWithIndex.map { case (item, index) =>
	 						   <tr>
					            <td class="number">@(index+1)</td>
					            <td>@Time.ordinal(item.date) @item.date.toString("MMM. yyyy") </td>
					            <td>@item.name</td>
					            <td class="amount right">@item.amount €</td>
					            <td>@item.note</td>
					            <td>@if(expense("status").value.getOrElse("") == "draft") {
					          <a class="delete" onclick="$(this).parent().parent().hide('slow', function() {$(this).remove(); updateTotal();reorder();}); "><i class="fa fa-trash-o"></i> Delete</a>}
					           	@** Input fields that we are sending to the controllers that represents our list of items **@
					        	<textarea name="items[@index].note" style="display:none">@item.note</textarea>
	            				<input name="items[@index].date" type="hidden" value="@item.date.getMillis">
	            				<input name="items[@index].name" type="hidden" value="@item.name">
	            				<input name="items[@index].amount" type="hidden" value="@item.amount"></td>
	            			   </tr>
					         }

					         <script>
					         	function addItem() {
					         		// Add a new row of item based on the one that the user filled in
					         		// TODO: VALIDATION
					         		var date = $('#date').val()
					         		var description = $('#description').val()
					         		var amount = parseFloat($('#amount').val()).toFixed(2)
					         		var comment = $('#comment').val()
					         		var number = $('#items').children().size() - 2
					         		console.log("number " + number)
					         		// Add a new row to the table
					         		$('#addItem').before('<tr><td class="number">' + number + '</td><td>' + moment(date, "DD/MM/YYYY").format("Do MMM. YYYY") + '</td><td>' + description + '</td><td class="amount right">' + amount + ' €</td><td>' + comment + '</td> <td><a class="delete" onclick="$(this).parent().parent().hide(\'slow\', function() {$(this).remove();updateTotal();reorder();});"><i class="fa fa-trash-o"></i> Delete</a><input name="items[' + number + '].name" type="hidden" value="' + description + '"><input name="items[' + number + '].amount" type="hidden" value="'+ amount + '"><textarea name="items[' + number + '].note" style="display:none" >' + comment + '</textarea><input name="items[' + number + '].date" type="hidden" value="' + moment(date, "DD/MM/YYYY") + '"></td>')
					         		$('#date').val('')
					         		$('#description').val('')
					         		$('#amount').val('')
					         		$('#comment').val('')
					         		updateTotal();
					         	}

					         	function reorder() {
					         		var i = 1;
					         		$("#items td.number").each(function() {
					         			$(this).text("" + i);
					         			i+=1;
					         		})
					         	}

					         	function updateTotal() {
					         		// Update the total
					         		var totalAmount = 0;
					         		$(".amount").each(function() {
					         			console.log("add " + $(this).text())
					         			totalAmount += parseFloat($(this).text())
					         		})
					         		console.log("total " + totalAmount)
					         		$("#total").text(totalAmount + " €")
					         	}
					         </script>
					         @if(expense("status").value.getOrElse("") == "draft") {
					          <tr id="addItem" style="background-color: #ffffdf">
					            <td class=""></td>
					            <!-- TODO: Add date mask input -->
					            <td><input class="form-control" id="date" placeholder="@(new DateTime().toString("dd/MM/yyyy"))"></input></td>
					            <td><input class="form-control" id="description" placeholder="Item's description"></input></td>
					            <td class="right"><input class="form-control" id="amount" placeholder="Amount"></input></td>
					            <td><textarea class="form-control" id="comment" style="width: 300px; height: 40px" placeholder="Optional: comment"></textarea></td>
					            <td><a href="#" class="btn btn-primary" onclick="addItem();" role="button">Add</a></td>
					          </tr>
					          }
					          <tr class="total">
					            <td colspan="3">Total:</td>
					           	<td class="right" id="total">@items.map(_.amount).sum €</td>
					            <td></td>
					          </tr>
					        </tbody>
					      </table>

					       <script>
		                    var date = $('#date').datepicker({format: 'dd/mm/yyyy'});
   							@if(expense("status").value.getOrElse("") == "draft") {
					          
		                   	$('#editStart,#start').on('click', function(evt) {
		                   		evt.preventDefault()
		                   		var width = $('#start').width();
		                   		$('#start').html("<input id='startText' type='text' style='width: " + width  + "px' value='@startDate.toString("dd/MM/yyyy")' />")
		                   		$('#startText').datepicker({format: 'dd/mm/yyyy'}, 'show').on('hide', function(ev) {
									var width = $('#start').width();
									var date = moment($(this).val(), "DD/MM/YYYY").format("Do MMM. YYYY");
			                   		$('#start').html(date)
			                   		$('#startDate').val("" + moment($(this).val(), "DD/MM/YYYY"));
			                   		$('#editStart').show();
		                   		})
		                   		$('#editStart').hide();
								$('#startText').focus();
		                   	}); 

		                   	$('#editEnd,#end').on('click', function(evt) {
		                   		evt.preventDefault()
		                   		var width = $('#end').width();
		                   		$('#end').html("<input id='endText' type='text' style='width: " + width  + "px' value='@endDate.toString("dd/MM/yyyy")' />")
		                   		$('#endText').datepicker({format: 'dd/mm/yyyy'}, 'show').on('hide', function(ev) {
									var width = $('#end').width();
			                   		var date = moment($(this).val(), "DD/MM/YYYY").format("Do MMM. YYYY");
			                   		$('#end').html(date)
			                   		$('#endDate').val("" + moment($(this).val(), "DD/MM/YYYY"));
			                   		$('#editEnd').show();
		                   		})
		                   		$('#editEnd').hide();
								$('#endText').focus();
		                   	});
							
	                     	}
	                      </script>
	                  </form>
	                </div>
	            </div>
	        </div>
	    </div>
	   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Not yet implemented</h4>
		      </div>
		      <div class="modal-body">
		        <p>Fee free to contribute to the project ;)</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<script>
		$("div.modal-body").emoticonize();
		</script>
	    <div class="sidebar" >
	    	 <div class="button"><a class="btn btn-primary" role="button" onclick="$('#edit').submit()">Create</a> or <a href="@routes.Application.expensesIndex(startDate.getYear)">Cancel</a> </div>
    		<div>
              <h3><a href="">Related actions</a></h3>
              <ul class="related-actions">
            	<li><i class="fa fa-print"></i> <a data-toggle="modal" data-target="#myModal">Print expenses form</a></li>
            	
            	
              </ul>
            </div>
           
        </div>
               
	</div>
</div>

}
